{% extends 'base.html' %}

{% block title %}Yogi - SubClip {{ subclip.id }}{% endblock %}

{% block content %}

  {% if prev_frame_num %}
    <a href="{{ url_for('subclip_viewer', subclip_id=subclip.id, source_ids=label_source_ids, frame_num=prev_frame_num) }}">Prev</a>
  {% endif %}

  {% if next_frame_num %}
    <a href="{{ url_for('subclip_viewer', subclip_id=subclip.id, source_ids=label_source_ids, frame_num=next_frame_num) }}">Next</a>
  {% endif %}

  <br/>

  {% if label_source_ids|length > 0 %}
    <img style="height:90vh" src="{{ url_for('labeled_image_landmark', id=image.id, label_source_ids=label_source_ids, landmark_id=1) }}"/><br/>
  {% else %}
    <img style="height:90vh" src="{{ url_for('image', id=image.id) }}"/><br/>
  {% endif %}

{% endblock %}
